.egn-header
{
	background-color: #d9e5f7;
	text-align: center;
	width: 100%;
	font-size: 20px;
	font-family: 'Helvetica', sans-serif;
	margin-bottom: 15px;
}

.egn-header .row {
	display: flex;
	height: 100px;
}

.egn-header .row div
{
	margin: auto;
	line-height: 15px;
}
