.small-box
{
	background: #fff;
	max-width: 300px;
	padding: 20px;
	margin: 0px auto;

}
.small-box__title
{
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 15px;
	color: #353535;
	border-bottom: 1px #EFEFEF solid;
	padding-bottom: 5px;
}

.small-box__bottom
{
	margin-top: 10px;
}
