<div ng-if="user.signedIn">
<h2>Projects</h2>
<div ng-controller="ProjectsCtrl as projCtrl">
<uib-accordion close-others="false">
<div ng-repeat="project in projects">
	<div uib-accordion-group class="egn-project panel-default" ng-show="editedProject.id != project.id">
	 	<uib-accordion-heading>
	 		<div class="row egn-project__top-line">

		 		<div class="col-md-11">
		 			<span class="glyphicon egn-icon" ng-class="{'glyphicon-triangle-bottom': status.open, 'glyphicon-triangle-right': !status.open}"></span>
		 			{{ project.name }}
		 		</div>

				<div class="col-md-1" ng-click="$event.stopPropagation();">
					<a href="javascript:"><i class="glyphicon glyphicon-pencil egn-icon2" ng-click="startEditingProject(project);"></i></a>
					<a href="javascript:"><i class="glyphicon glyphicon-trash egn-icon2" ng-click="confirmDeleteProject(project);"></i></a>
				</div>
			</div>
		</uib-accordion-heading>
		<div ng-controller="TasksController as tasksCtrl">
			<span ng-init="tasks = tasksCtrl.getTasks(project.id)" ng-if="project.id"></span>

			<div ng-repeat="task in tasksCtrl.tasks | orderBy:'position'">
				<form ng-submit="tasksCtrl.commitChangeName(editedTask)">
				<div class="row egn-task">
					<div class="col-md-1 centered">
						<div class="egn-task__status-cell">
						<div class="egn-task__status left">
							<div class="inner">
							<a href="javascript:"><i class="glyphicon glyphicon-arrow-up egn-icon-prior" ng-click="tasksCtrl.changePos(task, 'up');"></i></a>
							<a href="javascript:"><i class="glyphicon glyphicon-arrow-down egn-icon-prior" ng-click="tasksCtrl.changePos(task, 'down');"></i></a>
							</div>
						</div>
						<div class="egn-task__status right">
							<input type="checkbox" ng-model="task.completed" ng-change="tasksCtrl.complete(task);">
						</div>
						</div>
					</div>
			 		<div class="col-md-9">
			 			<div ng-hide="editedTask.id != task.id">
			 				<input type="text" ng-model="editedTask.new_name" class="form-control egn-new-proj-inp" placeholder="Enter task name ...">
			 			</div>
			 			<div ng-show="editedTask.id != task.id" ng-attr-style="{{task.completed && 'text-decoration: line-through;' || ''}}">{{ task.name }}</div>
			 		</div>
			 		<div class="col-md-2 centered egn-task__controls">
			 			<a href="javascript:" ng-controller="CommentsController as comCtrl" ng-init="comCtrl.init(task)">

							<script type="text/ng-template" id="commentsModal.html">
						    <div class="modal-header">
						        <h3 class="modal-title" id="modal-title">Add Comment</h3>
						    </div>
						    <div class="modal-body" id="modal-body" >

						  		<form ng-submit="comCtrl.createComment(comCtrl.new_comment)" name="comCtrl.comment_form">
										<div class="form-group">
									    <div class="egn-textarea">
									    	<div class="egn-textarea__body">
									    		<textarea class="form-control" ng-model="comCtrl.new_comment.text" rows="4" placeholder="Enter Your Comment"></textarea>
									  		</div>
									    	<div class="egn-textarea__icons">
									    		<div class="glyphicon glyphicon-paperclip egn-icon-clinch" ngf-select accept="image/png, image/jpg, image/jpeg" ngf-pattern="'.jpg,.jpeg,.png'" ngf-max-size="10MB" ng-model="comCtrl.new_comment.image" ngf-model-invalid="comCtrl.errorFile"></div>
												</div>
											</div>
									  </div>
									  <div>
									  	<div ng-hide="comCtrl.new_comment.image" style="float: left;">
									  		<i class="egn-error__text" ng-show="comCtrl.errorFile.$error == 'maxSize'">Error: File too large, max 10M</i>
									  		<i class="egn-error__text" ng-show="comCtrl.errorFile.$error == 'pattern'">Error: Acceptable file formats: *.jpg, *png</i>
									  	</div>
									  	<div class="egn-thumb" style="float: left;" ng-show="comCtrl.new_comment.image">
												<div class="egn-thumb__delete-btn">
													<a href="javascript:" title="delete attachment" ng-click="comCtrl.deleteAttachment()"><i class="glyphicon glyphicon-remove"></i></a>
												</div>
												<a href="javascript:void(0)"  ng-click="comCtrl.openPreview(comCtrl.new_comment.image)" target="_blank">
													<img ngf-thumbnail="comCtrl.new_comment.image" class="thumb">
												</a>
											</div>
										  <div class="form-group" style="text-align: right;">
										    <button class="btn btn-primary" type="submit">Save</button>
							        	<a class="btn" type="button" ng-click="cancel();">Cancel</a>
										  </div>
										</div>
								  </form>
								  <div class="comments" ng-hide="comCtrl.comments.length == 0">
								  	<hr/>
								  	<div class="egn-comment" ng-repeat="comment in comCtrl.comments">
								  		<div class="egn-comment__head">
								  			<span>{{ comCtrl.format_date(comment.createdAt) }}</span>
								  			<a href="javascript:"><i class="glyphicon glyphicon-trash egn-icon" ng-click="comCtrl.deleteComment(comment, obj)"></i></a>
								  		</div>
								  		<div class="egn-comment__body">{{ comment.text }}<br ng-show="comment.text"/><a href="http://{{API_HOST}}{{ comment.image.url }}" target="_blank" ng-if="comment.image.url != null"><img ng-if="comment.image.url != null" src='http://{{API_HOST}}{{ comment.image.thumb.url }}'></a></div>
								  	</div>
								  </div>
						    </div>
						</script>

			 				<span class="egn-task__controls_comments">{{comCtrl.commentsCount}}</span><i class="glyphicon glyphicon-comment egn-icon2" ng-click="comCtrl.openModal(task)"></i></a>
			 			<a href="javascript:"><i class="glyphicon glyphicon-time egn-icon2" ng-click="tasksCtrl.openEditDeadline(task)"></i></a>
			 			<a href="javascript:"><i class="glyphicon glyphicon-pencil egn-icon2" ng-click="tasksCtrl.startEditingTask(task)"></i></a>
			 			<a href="javascript:"><i class="glyphicon glyphicon-trash egn-icon2" ng-click="tasksCtrl.confirmDeleteTask(task)"></i></a>
			 		</div>
				</div>
				<div class="row" ng-hide="editedTask.id != task.id">
					<div class="col-md-12 egn-task__edit-row">
						<button class="btn btn-success btn-md" type="submit">Save</button>
						<a class="btn btn-md" ng-click="tasksCtrl.cancelEditingTask(); show_btns[project.id] = false" href="javascript:void(0);">Cancel</a>
					</div>
				</div>
				</form>
			</div>

			<form ng-submit="tasksCtrl.createTask(project.id, tasksCtrl.new_task)" name="tasksCtrl.tasks_form">
				<div class="row">
				 	<div class="col-md-12 egn-project__last-line">
				 			<input type="text" ng-model="tasksCtrl.new_task.name" placeholder="Enter Task Name..." class="form-control" ng-focus="show_btns[project.id] = true">
					</div>
				</div>
				<div class="row" ng-show="show_btns[project.id]">
					<div class="col-md-12 egn-project__last-line-buttons">
						<button class="btn btn-success btn-md" type="submit">Add task</button>
						<a class="btn btn-md" ng-click="tasksCtrl.cancelForm(); show_btns[project.id] = false" href="javascript:void(0)">Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div ng-show="editedProject.id == project.id">
		<form ng-submit="commitChangesProject(editedProject)">
		<div class="form-group" >
			<input type="text" ng-model="editedProject.new_name" class="form-control egn-new-proj-inp" placeholder="Enter project name ...">
		</div>
		<button class="btn btn-primary btn-md" type="submit">Save</button>
				<a class="btn btn-md" ng-click="cancelEditingProject();" href="javascript:void(0)">Cancel</a>
		</form>
	</div>
</div>
</uib-accordion>


<div class="egn-new-bl">
	<form name="project_form" ng-submit="createProject(new_project)">
		<div class="input form-group" >
			<input type="text" ng-model="new_project.name" class="form-control egn-new-proj-inp" placeholder="Enter project name ..." ng-focus="show_btns=true">

		</div>
			<div class="footer form-group" ng-show="show_btns">
				<button class="btn btn-primary btn-md" type="submit">Create Project</button>
				<a class="btn btn-md" ng-click="projCtrl.cancelForm(); show_btns=false" href="javascript:void(0)">Cancel</a>
			</div>

	</form>
</div>

</div>





<script type="text/ng-template" id="deleteProjectModal.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Delete project</h3>
        </div>
        <div class="modal-body" id="modal-body">
						Do you want to delete "{{ obj.name}}"?
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok();">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel();">Cancel</button>
        </div>
    </script>

<script type="text/ng-template" id="deleteTaskModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Delete task</h3>
    </div>
    <div class="modal-body" id="modal-body">
				Do you want to delete "{{obj.name}}" task?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok();">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel();">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="deadlineTaskModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Deadline</h3>
    </div>
    <div class="modal-body" id="modal-body">
				<div class="form-group">
			    <label>Date</label>
			    <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="tasksCtrl.mydate">
			  </div>
				<div class="form-group">
			    <label>Time</label>
			    <span uib-timepicker ng-model="tasksCtrl.mydate" show-spinners="false" hour-step="1" minute-step="5" show-meridian="false"></span>
			  </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok();">Save</button>
        <button class="btn btn-warning" type="button" ng-click="cancel();">Cancel</button>
    </div>
</script>



