<div ng-if="user.signedIn">
<h2>Projects</h2>
<div ng-controller="ProjectsController as projCtrl">
<uib-accordion close-others="false">
<div ng-repeat="project in projCtrl.projects">
	<div uib-accordion-group class="egn-project panel-default" ng-show="projCtrl.editedProject.id != project.id"  is-open="status.open">
	 	<uib-accordion-heading>
	 		<div class="row egn-project__top-line">

		 		<div class="col-md-11">
		 			<span class="glyphicon egn-icon" ng-class="{'glyphicon-triangle-bottom': status.open, 'glyphicon-triangle-right': !status.open}"></span>
		 			{{ project.name }}
		 		</div>

				<div class="col-md-1" ng-click="$event.stopPropagation();">
					<a href="javascript:"><i class="glyphicon glyphicon-pencil egn-icon2" ng-click="projCtrl.startEditingProject(project);"></i></a>
					<a href="javascript:"><i class="glyphicon glyphicon-trash egn-icon2" ng-click="projCtrl.confirmDeleteProject(project);"></i></a>
				</div>
			</div>
		</uib-accordion-heading>

		<div ng-controller="TasksController as tasksCtrl">
		<ng-include src="'app/tasks/tasks.html'"></ng-include>
		</div>
	</div>

	<div ng-show="projCtrl.editedProject.id == project.id">
		<form ng-submit="projCtrl.commitChangesProject(projCtrl.editedProject)">
		<div class="form-group" >
			<input type="text" ng-model="projCtrl.editedProject.new_name" class="form-control egn-new-proj-inp" placeholder="Enter project name ...">
		</div>
		<button class="btn btn-primary btn-md" type="submit">Save</button>
				<a class="btn btn-md" ng-click="projCtrl.cancelEditingProject();" href="javascript:void(0)">Cancel</a>
		</form>
	</div>
</div>
</uib-accordion>

<div class="egn-new-bl">
	<form name="projCtrl.project_form" ng-submit="projCtrl.createProject(projCtrl.new_project)">
		<div class="input form-group" >
			<input type="text" ng-model="projCtrl.new_project.name" class="form-control egn-new-proj-inp" placeholder="Enter project name ..." ng-focus="show_btns=true">

		</div>
			<div class="footer form-group" ng-show="show_btns">
				<button class="btn btn-primary btn-md" type="submit">Create Project</button>
				<a class="btn btn-md" ng-click="projCtrl.cancelForm(); show_btns=false" href="javascript:void(0)">Cancel</a>
			</div>

	</form>
</div>

</div>


<ng-include src="'app/projects/projects.modals.html'"></ng-include>
<ng-include src="'app/tasks/tasks.modals.html'"></ng-include>




